html{
  background-color:white;
}

td {
  border: 2px solid darkorchid;
  display: table-cell;
  vertical-align: inherit;
  padding: 12px;
}
table {
    text-indent: initial;
    text-wrap: wrap;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    text-align: start;
    border-spacing: 2px;
    font-variant: normal;
}
.breadcrumb > li {
  display: inline;
}
.breadcrumb li+li::before {
  padding: 10px;
  content: ">";
}
.breadcrumb a {
  text-decoration: none;
}
.breadcrumb a:hover {
  color: red;
}


.box{
  border: 2px solid black;
  padding: 10px;
  margin:10px auto;
  width: auto;
  height:auto;

}
.colorBox{
  width:98%;
  border: 2px solid black;
  height: 300px;
  display: inline-flex;
  justify-content: space-around;
  
}
.blueBox{
  background-color: #2d5dcc;
  width: 110px;
  text-align: center;
  padding: 20px;
  color: white;
  height: 90px;
  border: 5px;
}
.colorName{
  font-size: 20px;

}
.colorHex{
  font-size: 17px;
}
.mintGreen{
  background-color: #4fe0b0;
  width: 110px;
  text-align: center;
  padding: 20px;
  color: white;
  height: 90px;
  border: 5px;
  
}
.beige{
  background-color: #efd9ca;
  width: 110px;
  text-align: center;
  padding: 20px;
  color: white;
  height: 90px;
  border: 5px;
}
.slateGrey{
  background-color: #2f4f4f;
  width: 110px;
  text-align: center;
  padding: 20px;
  color: white;
  height: 90px;
  border: 5px;
}
.fontBox{
  width:98%;
  border: 2px solid black;
  height: 300px;
}
.openSans{
  font-family: "Open Sans";
  width: 110px;
  text-align: center;
  padding: 10px;
  color: black;
  height: 90px;
  float: left;
  
}
.fontName{
  font-size: 20px;
}
.fontStyles{
  font-size: 17px;
}
.roboto{
  font-family: "Roboto";
  width: 110px;
  text-align: center;
  padding: 10px;
  color: black;
  height: 90px;
  float: left;
  padding-top: 14px;
}
.merriweather{
  font-family: "Merriweather";
  width: 110px;
  text-align: center;
  padding: 10px;
  color: black;
  height: 90px;
  float: left;
  padding-top: 12px;
}
.headingbox{
  width:98%;
  border: 2px solid black;
  height: 400px;
  padding-left: 15px;
}
